.search-form {
    display: flex;
    margin: auto 15px;
}

.search-form__input,
.search-form__btn {
    background: transparent;
}

.search-form__input {
    outline: none;
    flex-grow: 1;
    height: 25px;
    border: 1px solid var(--bg-accent3);
    border-radius: 10px;
    padding: 7px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-form__btn {
    width: 45px;
    border: 1px solid var(--bg-accent3);
    border-radius: 10px;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-icon {
    color: var(--text-color);
}