body {
    background: var(--bg-accent1);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --bg: #242526;
    --bg-accent1: #484a4d;
    --bg-accent2: #525357;
    --bg-accent3: #ee8d73;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
    --bg-url: url('https://i.pinimg.com/564x/5c/92/41/5c92414763480162dfd2c1e34c1063fc.jpg');
}

.light {
    --bg: #B2E6D4;
    --bg-accent1: #9792E3;
    --bg-accent2: #D1D646;
    --bg-accent3: #61E786;
    --text-color: #242526;
    --bg-url: url('https://thumbs.dreamstime.com/b/rainbow-clouds-background-sun-cloud-pastel-colored-185464716.jpg');
}

.dark {
  --bg: #242526;
  --bg-accent1: #484a4d;
  --bg-accent2: #525357;
  --bg-accent3: #ee8d73;
  --text-color: #dadce1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

div {
    color: var(--text-color);
    text-decoration: none;
}
